html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Droid Serif', serif;
}
#map_canvas {
    height: 100%;
}
.overlay {
    background-color: white;
    z-index: 100;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 8px 0px #666;
    -moz-box-shadow: 8px 8px 8px 0px #666;
    box-shadow: 8px 8px 8px 0px #666;
}
.topsources {
    position: absolute;
    padding: 20px;
    width: 260px;
    top: 60px;
    right: 80px;
}
.pageviewrate {
    position: absolute;
    padding: 10px;
    width: 150px;
    top: 60px;
    left: 100px;   
}
.topsources h1 { font-size: 38px;}
.pageviewrate h1 { font-size: 46px; margin: 5px; }
.table {
    width: 100%;
    text-align: left;
}